.style {
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(247, 239, 239);
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}



.btn2 {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 19px;
    letter-spacing: 5px;
    color: #FFFFFF;

}

.btn2:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn2:hover {
    transform: scale(1.1)
}

.btn2:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn2:active .circle {
    background: #FE53BB;
}

.style2 {
    margin: 100px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 40px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}


.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn1:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn1:hover {
    transform: scale(1.1)
}

.btn1:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn1:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.fixfoot {
    margin-top: 200px;
    background-color: black;
}

.fix1 {
    margin-left: 50px;
    margin-right: 70px;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: whitesmoke;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar1 {
    background-image: linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
}

.fix2 {
    font-size: 25px;
    font-weight: bold;
}

.bgbody {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('14.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbox {
    max-width: 800px;
    width: 90%;
    height: 400px;
    background-color: #fdfdfdd1;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 10.10);
    padding: 20px;
    text-align: center;
}

.text {
    font-size: 20px;
}

.intro1 {
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 
.cardbox:hover {
    background-color: #0056b3;
} */

button {
    width: 60px;
    height: 60px;
    transform: scale(1);
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(228, 232, 236);
    background: linear-gradient(45deg, rgb(228, 232, 236) 0%, rgb(234 234 234) 100%);
    box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
    transition: all .3s;
}

button:active {
    background: rgb(218, 221, 224);
    background: linear-gradient(45deg, rgb(218, 221, 224) 0%, rgb(241, 241, 241) 100%);
    box-shadow: -2px -7px 10px #d4d7da,
        4px 6px 10px #f1f1f1,
        inset -2px -7px 10px #f1f1f1,
        inset 4px 6px 10px #d4d7da;
    transition: all .3s;
    transform: scale(.95);
}

button i {
    font-size: 20px;
    background: linear-gradient(-45deg, gray 0%, lightgray 100%);
   
    -webkit-text-fill-color: transparent;
    transition: all .3s;
}

button:active i {
    transform: scale(.9);
    transition: all .3s;
}

.svg {
    width: 25px;
    height: 60px;
    border-style: none;
    align-items: center;
}